form{
    width: 300px;
    margin: 10px auto;
}
form label{
    display: block;
    font-weight: bold;
}
form input{
        width: 90%;
        background-color: rgb(200, 239, 239);
        padding: 7px 4px;
        margin: 2px;
        border: none;
        outline: none;
        color: black;    
        border-radius: 8px;
}
.actions button{
    font-size: small;
    width: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 4px 0px;

    background-color: rgb(61, 135, 239);
    color: white;
}